:root {
    --ff-primary: 'Crimson Text', serif;
    --ff-accent: 'Allura', cursive;
    --dark-green: rgb(41, 48, 30);
}

body {
    background-color: bisque;
    color: var(--dark-green);
    margin: 0 auto;
    text-align: center;
    align-content: center;
    display: grid;
}

h1 {
    font-size: 3rem;
    font-family: var(--ff-accent);
}

#resultDiv {
    display: grid;
    grid-gap: .25em;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto 0 auto 0;
    font-family: inherit;
    margin: 0 auto 1.5em auto;
    text-align: center;
    align-content: center;
}

#countDiv {
    font-family: inherit;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    width: 70%;
}

div {
    font-family: var(--ff-accent);
    font-size: 3rem;
    width: 20%;
    height: 20%;
}

#button-container {
    width: 2em;
    height: 2em;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

#generateBtn {
    background-color: rgb(179, 47, 47);
    font-family: inherit;
    color: ivory;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

#clearBtn {
    background-color: ivory;
    font-family: inherit;
    color: rgb(179, 47, 47);
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

@media (max-width: 700px) {
    #resultDiv {
        grid-gap: 1em;
        background-color: white;
    }
}