:root {
    --ff-primary: 'Crimson Text', serif;
    --ff-accent: 'Allura', cursive;
    --dark-green: rgb(41, 48, 30);
}

body {
    background-color: bisque;
    color: var(--dark-green);
    margin: 0 auto;
    text-align: center;
    align-content: center;
    display: grid;
}

h1 {
    font-size: 3rem;
    font-family: var(--ff-accent);
}

#resultDiv {
    border: 2px solid red;
    display: grid;
    grid-gap: .25em;
    font-family: inherit;
}

#countDiv {
    border: 2px solid red;
    font-family: inherit;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

p {
    border: 2px solid red;
    font-family: var(--ff-accent);
    font-size: 3rem;
}

#button-container {
    border: 2px solid red;
    width: 2em;
    height: 2em;
}

#generateBtn {
    background-color: rgb(179, 47, 47);
    font-family: inherit;
    color: ivory;
    letter-spacing: 0.2rem;
}

#clearBtn {
    background-color: ivory;
    font-family: inherit;
    color: rgb(179, 47, 47);
    letter-spacing: 0.2rem;
}

.hidden {
    display: none;
}